# Copy this to terraform.tfvars and fill in your values
github_organization         = "your-test-org-name"
github_team_prefix         = "Team-"
github_app_id              = "123456"
github_app_installation_id = "12345678"
github_app_pem_file        = "../test/github-app.pem"

# Test settings
everyone_team_enabled      = false
required_approving_reviews = 1
enforce_admins            = false